body {
   padding: 0;
   margin: 0;
   font-family: 'Anton', sans-serif;
   color: white;
   font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
   padding: 0;
   margin: 0;
   text-transform: uppercase;
}

h2 {
   font-size: 50px;
   margin-bottom: 58px;
   color: black;
}

h3 {
   font-size: 25px;
   margin-bottom: 39px;
   color: black;
}

a {
   text-decoration: none;
}

section {
   padding-top: 113px;
}

ul, li {
   display: block;
}

.container{
   width: 1170px;
   margin: 0 auto; /*позиционирование по центру*/
}

.header{
   height: 900px;
   background: url('../img/header-bg.jpg');
   background-size: cover;
   background-repeat: no-repeat;
}

header a{
   color: white;
}

.menu{
   display: flex;
}

.menu li a{
   text-transform: uppercase;
   text-decoration: none;
   font-size: 14px;
   letter-spacing: 0.1em;
}

.menu li{
   margin-right: 40px;
}

.tel{
   font-size: 17px;
   text-decoration: none;
   margin-left: auto;
   letter-spacing: 0.1em;
}

.nav{
   display: flex;
   align-items: center;
   padding-top: 57px;
}

.logo{
   margin-right: 69px;
   color: white;
}

.offer{
   text-transform: uppercase;
   margin-top: 216px;
}

.offer p{
   font-size: 30px;
   letter-spacing: 0.1em;
}

.offer h1{
   font-size: 100px;
   margin-bottom: 19px;
   margin-top: -9px;
   letter-spacing: 0.02em;
}

.btn{
   display: block;
   font-size: 17px;
   text-align: center;
   letter-spacing: 0.1em;
   padding: 17px 47px;
   border: 1px solid white;
   transition: all 0.5s ease;
}

.btn:hover {
   background: #fff;
   color: #000;
}

.description{
   display: flex;
   justify-content: space-between;
   text-align: justify;
   line-height: 1.67em;
}

.description p{
   font-family: 'Open Sans';
   font-weight: 400;
   color: black;
}

.desc-left, .desc-right{
   width: 567px;
}

.gallery {
   margin-top: 67px;
   display: flex;
   justify-content: space-between;
}

.footer-text{
   color: black;
}

.footer-text {
   font-size: 15px;
   font-family: 'Open Sans', sans-serif;
   display: flex;
   padding: 144px 0;
}

.footer-text p {
   margin-right: 60px;
}